.serie {
    clip-path: url(#clip);
}
.lineTotal {
    clip-path: url(#clip);
}

.histogram rect {
    fill: gray;
    shape-rendering: crispEdges;
    clip-path: url(#clip);
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}