.serie {
    clip-path: url(#clip);
}
.lineTotal {
    clip-path: url(#clip);
}

.histogram rect {
    fill: gray;
    shape-rendering: crispEdges;
    clip-path: url(#clip);
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}

.axis--y path, .axis--y line {
    fill: none;
    stroke: #000;
    stroke-opacity: 0;
}
.axis--y .tick line {
    stroke: #bbb;
    stroke-opacity: 1;
}
